version: v1.0
name: tasks/release-client
agent:
  machine:
    type: s1-prod-ubuntu24-04-amd64-1
fail_fast:
  cancel:
    when: "true"
execution_time_limit:
  hours: 1
global_job_config:
  prologue:
    commands:
      - checkout
blocks:
  - name: Release Confluent Hub Client
    dependencies: []
    task:
      jobs:
        - name: Run Task
          commands:
            - sem-version java 11
            - . assume-iam-role arn:aws:iam::368821881613:role/homebrew-confluent-hub-client
            - cd tasks/release-client
            - ./task.sh
